name: deploy-to-github-pages
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    env:
      BASE_PATH: ${{ github.event.repository.name }}
      DIST_FOLDER: docs/.vuepress/dist
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Build
        run: |
          npm install
          BASE_PATH=${{ env.BASE_PATH }} npm run docs:build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ${{ env.DIST_FOLDER }}
          single-commit: true
